# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# IDE / Editor files
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
